* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #1890ff;
}

body {
	color: rgba(0, 0, 0, 0.85);
	font-size: 16px;
	font-family: "GeneralSans-Regular", sans-serif, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-variant: tabular-nums;
	line-height: 1.5715;
	font-feature-settings: "tnum", "tnum", "tnum", "tnum";
	min-height: 100vh;
}
input[type="text"],
input[type="password"],
textarea {
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-bottom: 1px solid lightgray;
	background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
}
[tabindex="-1"]:focus {
	outline: none !important;
}
.navbar {
	background-color: #001529;
	background-color: white;
	padding: 20px;
}
.nav-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	width: 80%;
	margin: 6px auto;
}
.mt25 {
	margin-top: 25px;
}
.nav-left {
	display: flex;
	width: 15%;
	align-items: center;
}
.nav-mid {
	width: 70%;
}
.nav-rigth {
	width: 15%;
}
.nav-btn {
	width: 80px;
	height: 50px;
	border-radius: 50px;
	display: block;
	background: white;
	border: none;
	font-size: 16px;
	color: black;
	text-align: center;
}
.logout-btn {
	border: 1px solid #4a7aec;
}
.login-btn {
	border: 1px solid #4a7aec;
	line-height: 50px;
}
.menu-btn {
	display: none;
	height: 100%;
	width: 49px;
	background: transparent;
	border: none;
}

.menu-img {
	font-size: 36px;
	color: rgb(160, 160, 160);
	position: relative;
	top: 2px;
}
.nav-btn:hover {
	transition: all ease-out 0.1s;
	background: #4a7aec;
	color: white;
	font-size: 16px;
}
.logo-container {
	display: flex;
	align-items: center;
}
.logo-img {
	height: 50px;
}
.rotate-logo {
	animation: rotation 0.8s infinite;
	position: absolute;
	top: 300px;
	left: 45%;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.logo {
	color: #1890ff;
	line-height: 40px;
	font-size: 22px;
	font-weight: 400;
}
.menu {
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}
.menu li {
	list-style-type: none;
	width: 135px;
	text-align: center;
}
.menu li a {
	color: rgba(255, 255, 255, 0.65);
	font-size: 18px;
	color: black;
}
.menu li a:hover {
	color: #006cb5;
}
.menu li a.active {
	color: #1890ff;
}
.header {
	min-height: calc(100vh);
}
.heading {
	padding: 10px;
	text-align: center;
}
.filter-wrapper {
	border: 1px solid rgba(243, 245, 254);
	margin: 0 auto;
	width: 60%;
	padding: 40px 10px;
	top: -50px;
	position: relative;
	background: white;
	border-radius: 73px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.w33 {
	width: 30%;
}
.filter-btn-wrap {
	display: flex;
	justify-content: center;
}
.filter-input {
	border: 1px solid #e4e4ed !important;
	border-radius: 50px;
	font-size: 18px;
	padding: 0 28px;
	box-sizing: border-box;
}
.filter-wrapper button {
	width: 150px;
}
.footer {
	min-height: 150px;
	background: black;
	text-align: center;
}
.home-heading-container {
	background-color: #f3f5fe;
	text-align: center;
	padding: 125px 10px;
	color: black;
}
.home-heading-container p {
	color: rgb(104, 103, 129);
}
.welcome-heding {
	padding: 10px;
	font-weight: bold;
	font-size: 40px;
	/* line-height: 50px; */
}
.highlighted {
	font-weight: bold;
	color: #0160fe;
}
.state-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ece9e9;
}
.state-item h3 {
	color: #0a4e8c;
	font-size: 16px;
	margin: 0 10px;
}
.survey-card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	max-width: 1024px;
}
.syrvey-card {
	box-shadow: 0 0 3px lightgray;
	width: 230px;
	height: 180px;
	margin: 5px;
	align-self: center;
}
.show-more {
	position: relative;
}
.show-more a {
	position: absolute;
	right: 20px;
}
.survay-img {
	width: 100%;
	height: 118px;
	object-fit: cover;
}

.form-wrapper {
	display: flex;
	flex-direction: row;
	margin: 0 20px;
}
form {
	padding: 10px;
	width: 400px;
}
form input {
	display: block;
	width: 350px;
	border: none;
	border-bottom: 1px solid lightgray;
	font-size: 18px;
	color: #1583e9;
	padding: 4px 0;
}

/* za novu komponentu*/

.editor-wrapper {
	padding: 20px 40px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	background: #f3f5fe;
}

.editor-menu-wrapper {
	flex: 0.3 1;
	padding-top: 12px;
	background-color: white;
	border-radius: 35px;
}
/* .survey-preview-wrapper {
	flex: 0.7 1;
	height: calc(100vh - 157px);
	overflow-y: scroll;
	padding: 0 20px;
	max-width: 70%;
	margin: 0 auto;
} */
.survey-preview-wrapper {
	flex: 0.7 1;
	height: calc(100vh - 157px);
	overflow-y: scroll;
	padding: 17px 20px;
	margin: 0 auto;
	background: white;
	border-radius: 40px;
	margin: 0 20px;
}
.survey-preview-wrapper::-webkit-scrollbar {
	display: none;
}

.survey-preview-wrapper {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.editor-buttons-wrapper {
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	border-bottom: 1px solid lightgray;
}
.editor-menu-question-types {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 4px 18px;
	color: white;
	border: none;
	border-radius: 22px;
	margin: 2px 8px;
	box-shadow: ;
	color: black;
	height: 48px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
}

.icns {
	position: absolute;
	top: 50%;
	color: #e74d56;
	font-size: 23px;
	transform: translateY(-50%);
	left: 20px;
}

.btn-sm {
	padding: 2px 8px;
	font-size: 10px;
	border-radius: 0.2rem;
	min-width: 50px;
	height: 25px;
}
.btn-primary {
	background: #4a7aec;
	color: white;
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}
.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}
.btn:hover {
	text-decoration: none;
}
.btn:focus,
.btn:hover {
	text-decoration: none;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
.save {
	border: none;
	background-color: #1583e9;
	color: white;
}

.form-group {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 4px;
}
.form-group input,
select {
	margin: 4px;
	padding: 4px;
	color: #1890ff;
}
.form-group select {
	background: white;
	border: 1px solid #8f8f9d;
}
.form-group label {
	margin: 4px;
	padding: 4px;
	color: rgba(0, 0, 0, 0.85);
	font-size: 18px;
}
.active-menu-btn {
	border: 1px solid #4a7aec;
	background: none;
	color: black;
}
.secondary {
	border: 1px solid #1890ff;
	color: black;
	font-size: 20px;
	line-height: 20px;
}
.question-wrapper {
	border: 1px solid rgba(228, 228, 237);
	margin: 10px 12px;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 7px 14px 0 rgb(8 15 52/3%);
}
.question-wrapper [type="text"],
.question-wrapper [type="textarea"] {
	width: 98%;
}
.survey-title {
	text-align: center;
	padding: 2px 0px;
}
.survey-description {
	text-align: center;
}
.question-wrapper input,
.question-wrapper label {
	margin-left: 6px;
}
.active-question {
	background: #e2d55c30;
}
.btn-wrap {
	margin: 0 auto;
}
.btn-wrap button {
	width: 40px;
	background-color: rgb(202, 74, 74);
	border: none;
}
.question-btns-wrapper {
	display: flex;
	padding-top: 5px;
}
.df {
	display: flex;
}
.login-wrapper {
	max-width: 400px;
	margin: 60px auto;
	border: 1px solid lightgray;
	padding: 100px 40px;
	border-radius: 5px;
	position: relative;
}

.logo-login-wrapper {
	width: 170px;
	margin: 0 auto;
}
.survey-items-container {
	display: flex;
	flex-direction: colimn;
	width: 80vw;
}
.survey-item-container {
	border: 1px solid rgba(228, 228, 237);
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-self: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 7px 14px 0 rgb(8 15 52/3%);
	height: 100px;
	width: 95%;
}
.survey-item-container:hover {
	transition: all ease-in-out 0.1s;
	border: 1px solid #1890ff;
	width: 90%;
}
.item-category-img {
	width: 10%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.item-category-img img {
	width: 60px;
	height: 60px;
	align-self: center;
	border-radius: 50%;
	border: 1px solid #097fd666;
}
.item-category-img span {
	font-size: 10px;
	text-align: center;
}

.item-description {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.item-description h3 {
	font-size: 20px;
	font-weight: bold;
}
.item-description p {
	color: rgba(104, 103, 129);
}

.item-meta {
	display: flex;
	justify-content: center;
	flex-direction: row;
	color: rgb(92, 91, 99);
}
.item-meta p {
	font-size: 14px;
}
.main-heading {
	font-size: 36px;
	text-align: center;
	padding: 10px;
}
.close {
	display: none;
}
.error {
	position: absolute;
	background: #ed3a3a;
	color: white;
	padding: 4px 16px;
	border-radius: 10px;
	top: 110px;
	right: 50%;
	transform: translateX(50%);
	animation-name: move;
	animation-duration: 1.5s;
	animation-delay: 1.5s;
}
@keyframes move {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@media only screen and (max-width: 900px) {
	.editor-wrapper {
		display: flex;
		flex-direction: column;
	}
	.survey-preview-wrapper {
		flex: 1;
		overflow-y: scroll;
		padding: none;
		width: 100%;
		max-width: none;
		padding: 0;
	}
	.df {
		display: flex !important;
	}
	.nav-rigth {
		width: 30%;
	}
	.editor-edit-question {
		position: fixed;
		width: 95%;
		padding: 0;
		margin: 0;
		left: 50%;
		background: white;
		z-index: 1;
		top: 107px;
		transform: translate(-50%);
		borsder-radius: 12px;
		box-shadow: 0px 0px 200px 0 black;
		min-height: 300px;
	}
	.close {
		display: block;
		position: absolute;
		right: -15px;
		font-size: 20px;
		top: -20px;
		background-color: #343a40;
		color: white;
	}
	.survey-card-container {
		width: 100%;
	}
	.menu {
		height: calc(100vh - 100px);
		position: absolute;
		right: 0;
		background: #001529;
		width: 50vw;
		height: 300px;
		z-index: 1;
		top: 100px;
		flex-direction: column;
		justify-content: flex-start;
		display: none;
		border-radius: 0 0 0 30px;
	}
	.editor-wrapper {
		padding: 20px 0;
	}
	.survey-item-container {
		border: 1px solid rgba(228, 228, 237);
		margin: 10px 0;
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-self: center;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 0 7px 14px 0 rgb(8 15 52/3%);
		height: 100%;
		flex-direction: column;
		align-items: center;
	}
	.survey-item-container div {
		width: 100%;
		text-align: center;
	}
	.menu li {
		margin-top: 30px;
	}
	.logout-btn,
	.login-btn {
		margin-right: 30px;
		height: 35px;
		line-height: 35px;
	}

	.nav-rigth {
		display: flex;
		justify-content: inherit;
		align-self: center;
		align-items: center;
	}
	.menu-btn {
		display: block;
	}
	.nav-container {
		width: 100%;
	}
	.login-wrapper {
		border: none;
	}
	.home-heading-container {
		background-color: #f3f5fe;
		text-align: center;
		padding: 30px;
		color: black;
	}
	.welcome-heding {
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
	}
	.question-btns-wrapper {
		display: flex;
		padding-top: 5px;
		display: flex;
		justify-content: center;
	}
}

.card {
	border: 1px solid rgba(228, 228, 237);
	width: 95%;
	max-width: 320px;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
	border-radius: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
}
.card-sec {
	margin: 10px 2px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.inner-sec {
	width: 33%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}
p {
}
.card-sec p {
	text-align: center;
	color: #a4a1a1;
	font-size: 14px;
}
h1 {
}
.card-sesc h1 {
	text-align: center;
}
