* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #1890ff;
}
body {
	color: rgba(0, 0, 0, 0.85);
	font-size: 16px;
	font-family: "GeneralSans-Regular", sans-serif, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-variant: tabular-nums;
	line-height: 1.5715;
	font-feature-settings: "tnum", "tnum";
	min-height: 200vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
}
[tabindex="-1"]:focus {
	outline: none !important;
}
.navbar {
	background-color: #001529;
	padding: 20px;
}
.nav-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
}

.nav-left {
	display: flex;
	align-items: center;
}
.nav-btn {
	width: 80px;
	height: 50px;
	border-radius: 50px;
	display: block;
	background: #4a7aec;
	border: none;
	font-size: 16px;
	line-height: 50px;
	color: black;
	text-align: center;
}
.nav-btn:hover {
	transition: all ease-out 0.1s;
	background: white;
	color: black;
	font-size: 16px;
}
.logo-img {
	height: 40px;
}
.logo {
	color: #1890ff;
	line-height: 40px;
	font-size: 20px;
	font-weight: 400;
}
.menu {
	display: flex;
	width: 700px;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}
.menu li {
	list-style-type: none;
}
.menu li a {
	color: rgba(255, 255, 255, 0.65);
	font-size: 18px;
}
.menu li a:hover {
	color: #006cb5;
}
.menu li a.active {
	color: #1890ff;
}
.header {
	/* min-height: calc(100vh - 120px); */
}
.heading {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
.state-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ece9e9;
}
.state-item h3 {
	color: #0a4e8c;
	font-size: 16px;
	margin: 0 10px;
}
.survey-card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.syrvey-card {
	box-shadow: 0 0 3px lightgray;
	width: 230px;
	height: 180px;
	margin: 5px;
}
.show-more {
	position: relative;
}
.show-more a {
	position: absolute;
	right: 20px;
}
.survay-img {
	width: 100%;
	height: 118px;
	object-fit: cover;
}

.form-wrapper {
	display: flex;
	flex-direction: row;
	margin: 0 20px;
}
form {
	padding: 10px;
	width: 400px;
}
form input {
	display: block;
	width: 350px;
	border: none;
	border-bottom: 1px solid lightgray;
	font-size: 18px;
	color: #1583e9;
	padding: 4px 0;
}
butston {
	min-width: 70px;
	border-radius: 0;
	border: 0;
	padding: 4px;
	margin: 4px 0;
	border: 1px solid lightgray;
	width: 350px;
	/*! margin: 10px; */
}

/* za novu komponentu*/

.editor-wrapper {
	padding: 20px 40px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.editor-menu-wrapper {
	flex: 0.3;
	border: 1px solid lightgray;
}
.survey-preview-wrapper {
	flex: 0.7;
	border: 1px solid lightgray;
	border-left: none;
	height: calc(100vh - 157px);
	overflow-y: scroll;
}
.survey-preview-wrapper::-webkit-scrollbar {
	display: none;
}

.survey-preview-wrapper {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.editor-buttons-wrapper {
	padding: 10px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid lightgray;
}
.editor-menu-question-types {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.editor-btns {
	margin: 4px;
	height: 30px;
	border: 1px solid lightgray;
	color: black;
	background: white;
	border-radius: 4px;
	line-height: 30px;
	padding: 0px 15px;
	cursor: pointer;
	min-width: 100px;
}
.save {
	border: none;
	background-color: #1583e9;
	color: white;
}
.editor-btns.edit {
	background-color: rgb(202, 74, 74);
	color: white;
	display: block;
	border: none;
}
.editor-btns:not(.active-menu-btn):hover {
	box-shadow: 0 0 3px 0px rgb(151, 151, 151);
}
.form-group {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 4px;
}
.form-group input {
	margin: 4px;
	padding: 4px;
	color: #1890ff;
}
.form-group label {
	margin: 4px;
	padding: 4px;
	color: rgba(0, 0, 0, 0.85);
}
.active-menu-btn {
	background: #1890ff;
	color: white;
}
.question-wrapper {
	border: 1px solid rgb(212, 211, 211);
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	position: relative;
}
.survey-title {
	text-align: center;
	padding: 2px 0px;
}
.survey-description {
	text-align: center;
}
.question-wrapper input,
.question-wrapper label {
	margin-left: 6px;
}
.active-question {
	background: #e2d55c30;
	box-shadow: 0 0 3px 0 #d4cbcb;
}
.btn-wrap {
	margin: 0 auto;
}
.btn-wrap button {
	width: 40px;
	background-color: rgb(202, 74, 74);
	border: none;
}
.question-btns-wrapper {
	display: flex;
}
.df {
	display: flex;
}
.login-wrapper {
	width: 400px;
	margin: 60px auto;
	border: 1px solid lightgray;
	padding: 100px 40px;
	border-radius: 5px;
}
